@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.header-section {
  height: 50px;
  background-color: rgb(17, 40, 72);
}
.header-section .upper {
  text-transform: uppercase;
}
.header-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section h1,
p {
  color: white;
  opacity: 0.5;
}
.right-head {
  display: flex;
  height: 45px;
  width: 70px;
  align-items: center;
  justify-content: space-between;
}
.right-head p {
  text-transform: capitalize;
}
.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 3px;
  background-color: #fff;
  opacity: 0.6;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*common*/
.sodale-images figcaption, .dolar-image-wrap figcaption
{
  font-size: 12px;
    text-align: center;
    padding: 7%;
    background-color: rgb(53,70,80);
    color: white;
    opacity: 0.5;
}
.first-letter 
{
  text-transform: capitalize;
}
/*end of common*/
.broadcast-section {
  height: 100vh;
  background-image: url(https://via.placeholder.com/1400x300.png?);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.broadcast-section .wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.broadcast-top-wrap {
  width: 350px;
  text-align: center;
}
.broadcast-top-wrap h2 {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
[title="Broad-dig"]
{
  font-weight: bold;
}
.broadcast-top-wrap p {
  margin: 25px;
}
[title="Broad-dig"] {
  text-transform: capitalize;
  color: white;
  opacity: 0.8;
  border: 1px solid;
  padding: 10px;
}

/*Sodals section*/

.sodals-section 
{
  background-color: rgb(34,53,61);
  padding-bottom: 5%;
}
.top-wrap
{
  text-align: center;
}
.top-wrap h2
{
  font-size: 18px;
  color: white;
  padding-top: 10%;
    padding-bottom: 5%;
}
.top-wrap p 
{
  font-size: 13px;
  padding-bottom: 5%;
}
.sodale-images
{
  display: flex;
}
.sodale-images li
{
  margin: 5%;
}

/*lorem-section*/
.lorem-section 
{
  background-color: rgb(41,51,69);
  padding-bottom: 7%;
}
.lorem-section .top-wrap  
{
  text-align: left;
}
.content-image-wrapper
{
  display: flex;
}
.lorem-content-wrapper
{
  width: 35%;
}
.lorem-content-wrapper ul li 
{
  font-size: 13px;
    padding: 3%;
    background-color: rgb(41,56,63);
    border: 1px solid rgb(41,56,63);
    border-radius: 5px;
    color: white;
    opacity: 0.8;
    width: 90%;
    margin: 2%;
}
.lorem-content-wrapper ul li.active
{
  background-color: rgb(170,32,204);
}
.lorem-content-wrapper ul li:first-child
{
  margin-top: 5%;
}
.lorem-image-wrapper
{
  width: 65%;
}
.lorem-image-wrapper ul 
{
  display: grid;
  grid-template-columns: auto auto;
}
.lorem-image-wrapper ul li
{
  margin: 5%;
}

/*dolor section*/
.dolor-section
{
background-color: rgb(42,46,59)
}
.dolar-image-wrap
{
  display: flex;
  column-gap: 5%;
}
.dolar-image-wrap figcaption
{
  font-size: 11px;
}
.dolor-section
{
padding-bottom: 8%;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer
{
  background-color: rgb(2,11,19);
}
.footer-top-wrapp
{
  display: flex;
  column-gap: 5%;
}
.footer-content .inn-li 
{
  color: white;
  opacity: 0.5;
  font-size: 12px;
  padding: 5% 0;
  border-bottom: 1px solid rgba(255,255,255,0.5)
}
.footer-content .head-li
{
  color: white;
  font-size: 13px;
    padding-bottom: 10%;
}
footer .wrapper
{
  padding-top: 5%;
}
.footer-bottom-wrap
{
  padding: 10% 0;
}
.footer-social-link
{
  text-align: center;
}
.footer-social-link li 
{
  margin: 0 1%;
}
.social-links{
  text-indent: -9999px;
}
.twitter::before {
  content: "\f099";
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
  color: #fff;
 }
 .facebook::before {
  content: "\f09a";
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
  color: #fff;
 }
 .instagram::before {
  content: "\f16d";
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
  color: #fff;
 }
 .notifi::before {
  content: "\f0f3";
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
  color: #fff;
 }
 .footer-copy
 {
   font-size: 12px;
   text-align: center;
 }
 .footer-copy p 
 {
   text-transform: capitalize;
   padding-top: 1%;
 }
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
@media (min-width: 320px) {
  .right-head p {
    display: none;
  }
  .right-head
  {
    justify-content: flex-end;
  }
  .sodale-images
  {
    flex-direction: column;
  }
  .lorem-content-wrapper
  {
  width: 100%;
  }
  .lorem-image-wrapper
  {
    width: 100%;
  }
  .content-image-wrapper 
  {
    flex-direction: column;
  }
  .dolar-image-wrap {
    flex-direction: column;
  }
  .footer-top-wrapp
  {
    flex-direction: column;
  }
  .footer-content
  {
    display: flex;
    flex-direction: column;
  }
  .footer-content .head-li 
  {
    padding-bottom: 3%;
    padding-top: 5%;
  }
  .footer-content li:last-child
  {
    border-bottom: none;
  }
}

/*media query for 768px*/
@media (min-width: 768px) {
  .right-head p {
    display: block;
  }
  .sodale-images
  {
    flex-direction: row;
  }
  .content-image-wrapper
  {
    display: flex;
    flex-direction: row;
  }
  .lorem-content-wrapper 
  {
    width: 35%;
  }
  .lorem-image-wrapper
  {
    width: 65%;
  }
  .dolar-image-wrap
  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dolar-image-wrap li:last-child
  {
    padding-top: 5%;
  }
  .footer-top-wrapp
  {
    flex-direction: row;
    justify-content: center;
  }
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
